.spacer{
    flex: 1 1 auto;
}

a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #000;
}

.mouseHover:hover{
    cursor: pointer;
    color: #000;
    transition: all 0.7 ease-in-out;
}