<div class="container__tables">
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Qty</th>
        <th>Price unit</th>
        <th>Sub total</th>
      </tr>
    </thead>
    <tbody>
      <!-- para que se vea el observable car$ utilizamos el | async -->
      <tr *ngFor="let item of cart$ | async"> 
        <td>{{item.name}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.qty * item.price | currency}}</td>
      </tr>
    </tbody>


  </table>


  <div class="container__total">
      <p class="total">
          <strong>Total: <span>{{total$ |async |currency}}</span></strong>
      </p>
  </div>
</div>
