<div class="container">
    <form class="form item" #checkoutForm="ngForm">
        <mat-form-field class="form__element">
            <input 
            matInput
            placeholder="Name"
            required
            [(ngModel)]="model.name"
            name="name"
            #name="ngModel"
            >
            <mat-error *ngFor="name.valid || name.pristine">
                name is requiered
            </mat-error>
        </mat-form-field>
        <mat-radio-group class="form__element">
            <p>Chose an option:</p>
            <mat-radio-button class="option__button" value="pickup" (change)="onPickupOrDelivery(false)" checked>Pickup</mat-radio-button>
            <mat-radio-button class="option__button"  value="delivery" (change)="onPickupOrDelivery(true)">Delivery</mat-radio-button>
        </mat-radio-group>
        <ng-container *ngIf="isDelivery; else showStores">
            <mat-form-field class="form__element">
                <input matInput placeholder="shipping Address" 
                [(ngModel)]="model.shippingAddress" name="shippingAddress"
                #shippingAddress = "ngModel">
            </mat-form-field>
    
            <mat-form-field class="form__element">
                <input matInput placeholder="City" 
                [(ngModel)]="model.city" name="city"
                #shippingAddress = "ngModel">
            </mat-form-field>
        </ng-container>
        <ng-template #showStores>
            <mat-form-field class="form__element">
                <mat-label>Selecte me</mat-label>
                <mat-select [(ngModel)]="model.store"
                name="store"
                #store="ngModel">
                    <mat-option [value]="tienda" *ngFor="let tienda of stores">
                        {{tienda.name}} - {{tienda.openingHours}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-template>
    </form>
</div>
<app-details></app-details>
<div class="container__button">
    <button [disabled]="!checkoutForm.form.valid" mat-raised-button color="primary" type="submit" (click)="onSubmit(checkoutForm)">
        Checkout
    </button>
</div>

